body {
  background-color: rgb(243, 250, 255);
}



/* Nav */
nav {
  background-color: rgb(255, 239, 224);
}

.navbar a:hover {
  text-decoration: underline;
}



/* About Me */
.thumbnail {
  transform: scale(.75);
}

/* My Projects */
@media (max-width: 768px) {
  .project-column {
    order: 1;
  }
  .img-column {
    order:2;
  }
}


#my-projects a {
  text-decoration: none;
}

#my-projects a:hover {
  text-decoration: underline;
}

#my-projects img:hover {
  border: 2px solid white;
}
 #my-projects img {
  aspect-ratio: 1.5;
 }

/* Footer */
footer {
  height: auto;
  background-image: url(images/dolphin.jpg);
  background-position: 50% 40%;
  background-size: cover;
}